"""
This is the {{ package_slug }} package.

It contains the core functionality used in the {{ project_name }} project,
including plotting results, saving them, and general-purpose utilities.
It is designed to make implementation and experimentation easier by organizing
all components within a structured package hierarchy.
"""

__version__ = "0.1.0"
